body {
    background-color: rgb(150, 215, 236);    
    justify-content: center;
    align-items: center;
      
}

h1{
    color: white;
    text-align: center;
}

.Title{
    background-color: cadetblue;
    background-image: url("images/sky.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding-right: 16px;    
    padding-left: 16px;
    padding-top: 100px;
    padding-bottom: 16px;    
}

.container {
    padding-top: 20px;
    padding-left: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;    
    border-radius: 25px;
    justify-content: space-between;
}

.Clickable{
    padding-top: 10px;
   
}

.item {    
    border: none;
    border-radius: 25px;
    margin-top: 10px;    
    padding: 5px 5px 5px 5px;
    width:100%;
}
@media (max-width: 600px) {
    .item {
        width: 100%;
    }
}
.result{
 padding-right: 600px; 
 padding-top: 20px; 
}

.button {
    border: none;    
    border-radius: 25px; 
    background-color: #0056b3; 
    color: white;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #00ff15;    
}

